{
  "masterId":3306102,
  "host" : "10.0.0.10",
  "port" : 3306,
  "user" : "repl",
  "password" : "repl1234",
  "clusterTag" : "clusterTest",
  "serverId" : 3306202,
  "semiSync" : true,
  "serverUuid" : "a721031c-d2c1-11e9-897c-080027adb7d7",
  "heartbeatPeriod" : 30000001024,
  "binlogName" : "mysql-bin",
  "binlogDir" : "./binlogs",
  "gtid_mode" : true,
  "gtid_purged" : "cc2ca488-3ba0-11eb-a578-005056ae7c63:1-3"
}